@font-face {
    font-family: "Open Sans";
    src: url(https://netology-code.github.io/html-2-diploma/sources/fonts/OpenSans-Regular.woff);
    font-weight: 400;
    font-style: normal;
  }
  @font-face {
    font-family: "Open Sans";
    src: url(https://netology-code.github.io/html-2-diploma/sources/fonts/OpenSans-Bold.woff);
    font-weight: 700;
    font-style: normal;
  }
  
  body {
    font-family: "Open Sans", Arial, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    line-height: 1.2;
    padding: 0;
    margin: 0;
}
.header, .logo{
    position: relative;
    margin: 0 auto;
    max-width: 1540px;
}
.welcome{
    background-color: #000000;
    background-image: url("../img/football_1920.jpg");
    background-position: center center;
    background-size: cover;
    position: relative;
}
.welcome::before {
    content: "";
    background-color: #0a0e34;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.8;
}
.img_header{
    width: 195px;
    display: block;
    margin: 0 auto 310px auto;
    padding-top: 45px;
    fill: #ffffff;
}
.h_header{
    font-size: 90px;
    line-height: 85px;
    text-transform: uppercase;
    color: #ffffff;
    margin-top: 0;
    margin-bottom: 220px;
    margin-left: auto;
    margin-right: auto;
}
.right{
    text-align: end;
    margin-top: 0;
    display: block;
}
.button{
    position: relative;
    display:flex;
    justify-content: center;
    padding-bottom: 110px;
}
.btn:last-child{
    margin-left: 50px;
}
.btn{
    display:flex;
    text-decoration:none;
    border-radius: 50px;
    background: #5e42b0;
    align-items:center;
    justify-content: center;
    height: 77px;
    width: 311px;
  }
.btn p{
    display: inline-block;
  }
  .img-wrapper{
    display:inline-block;
    width: 40px;
    height: 50px;
    margin: 0;
  }
  .img-wrapper svg{
    display: block;
    width: 100%;
    fill: #fff;
  }
  .btn-desc{
    color: #fff;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 25px;
    font-size: 14px;
  }
  .btn-desc span + article{
    margin-top: 20px;
  }
  .btn-desc span:last-child{
    color: #fff;
    display: block;
    font-weight: 600;
  }

.participants{
    position: relative;
}
.absol-image{
    position: absolute;
}
.athlets_img{
    margin-top: -195px;
    margin-left: 400px;
}
.athlets_title{
    font-size: 80px;
    color: #e7e7e7;
    text-transform: uppercase;
    padding-top: 120px;
    padding-bottom: 115px;
    line-height: 0.8;
    margin: 0;
}
.athlets_first, .players_first{
    margin-bottom: 60px; 
}
.players_first{
    width: 70%;
}
.connection, .collaboration, .growth{
    display: flex;
    margin-top: 0;
    margin-bottom: 30px;
}
.connection span{
    margin-top: 10px;
    margin-bottom: 7px;
}
.number{
    font-size: 18px;
    color: #000000;
    margin-top: 10px;
    margin-bottom: 7px;
    font-weight: 700;
    position: relative;
    vertical-align: super;
    margin-right: 16px;
}
.number::after {
    content: "";
    position: absolute;
    bottom: -8px;
    left: 0;
    width: 20px;
    height: 5px;
    background-color: #5e42b0;
    right: 0;
    margin: 0 auto;
    border-radius: 25%;
    display : block;
}
.title{
    margin-top: 0;
    margin-bottom: 0;
    font-size: 36px;
    text-transform: uppercase;
    color: #c1c1c1;
}
.content p{
    margin: 0;
    max-width: 750px;
}
.athlets_second, .players_second{ 
    background-color: #f6f4fa;
    padding-top: 60px;
    padding-bottom: 60px;
    display: flex;
}
.athlets_third{
    background-color: #5e42b0;
    padding-top: 60px;
    padding-bottom: 60px;
    display: flex;
}
.number-third{
    font-size: 18px;
    color: #000000;
    margin-top: 10px;
    margin-bottom: 7px;
    font-weight: 700;
    position: relative;
    vertical-align: super;
    margin-right: 15px;
}
.number-third::after {
    content: "";
    position: absolute;
    bottom: -8px;
    left: 0;
    width: 20px;
    height: 5px;
    background-color: #efefef;
    right: 0;
    margin: 0 auto;
    border-radius: 25%;
    display : block;
}
.content-growth p{
color: #ffffff;
max-width: 750px;
}
.info{
    width: 50%;
    margin-right: 195px;
    margin-left: 45%;
}
.athlets_info{
    width: 50%;
    margin-left: 195px;
}
.absol-image-basketballer{
    position: absolute;
    left: 928px;
    top: 27px;
}
.players{
   position: relative;
}
.players_third{
    background-color: #0a0e34;
    padding-top: 60px;
    padding-bottom: 60px;
    display: flex;
}
.number-third-players{
    font-size: 18px;
    color: #9173e6;
    margin-top: 10px;
    margin-bottom: 7px;
    font-weight: 700;
    position: relative;
    vertical-align: super;
    margin-right: 15px;
}
.number-third-players::after {
    content: "";
    position: absolute;
    bottom: -8px;
    left: 0;
    width: 20px;
    height: 5px;
    background-color: #efefef;
    right: 0;
    margin: 0 auto;
    border-radius: 25%;
    display : block;
}
.be-activ-wrapper, .contact-wrapper{
    display: flex;
    justify-content: space-between;
}
.be-activ-img{
    background-image: url(/img/be-active_1024.jpg);
    background-size: cover;
    width: 50%;
    height: 730px;
    background-position: center center;
}
.be-activ-info{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.be-activ-info p{
    font-size: 24px;
}
.be-activ-content{
    padding: 0 130px;
    position: relative;
}
.step{
    position: absolute;
    top: 40%;
    right: 1078px;
}
.step-one{
    width: 168px;
    height: 155px;
    background-color: #5e42b0;
    text-align: center;
    display: inline-block;
}
.step-number{
    font-size: 18px;
    color: #f5f6f7;
    font-weight: 700;
    text-align: center;
    position: relative;
    margin: 0;
    top: 40%;    
}
.step-number::after {
    content: "";
    position: absolute;
    left: 0;
    width: 20px;
    height: 5px;
    background-color: #8f7bc8;
    right: 0;
    margin: 0 auto;
    border-radius: 25%;
    display : block;
}
.step_2{
    position: absolute;
    top: 40%;
    right: -230px;
}
.contact-img{
    background-image: url(/img/find-contact_1024.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 50%;
    background-position: center center;
}
.work-img{
    background-image: url(/img/work-it_1024.jpg);
    background-size: cover;
    width: 50%;
    background-position: center center;
}
.footer{
    background-color: #000000;
    background-image: url("../img/game_1920.jpg");
    background-position: center center;
    background-size: cover;
    position: relative;
}
.footer::before {
    content: "";
    background-color: #0a0e34;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.8;
}
.footer-title{
    position: relative;
    display: flex;
    justify-content: center;
    padding-top: 200px;
}
.img_footer{
    width: 195px;
    display: block;
    margin: auto;
    padding: 130px 0 30px 0;
    fill: #ffffff;
}
.footer-svg{
    z-index: 2;
    width: 108px;
    height: 93px;
    fill: #ffffff;
    background-color: #53399e;
    padding: 27px 15px;
    border-radius: 25%;
    margin-right: 35px;
}
.description{
    color: #ffffff;
    text-transform: uppercase;
    margin-top: 20px;
    margin-bottom: 150px;
    font-size: 80px;
    font-weight: 700;
    max-width: 720px;
  }
.description span:last-child{
    color: #a496ca;
    display: block;
    font-weight: 400;
    font-size: 30px;
  }
  @media (min-width: 1431px) and (max-width: 1920px){
    .h_header{
        font-size: 90px;
        margin-left: 10%;
        margin-right: 10%;
    }
    .athlets_img {
        margin-left: 0;
    }
    .absol-image-basketballer{
        left: 30%;
    }
    .athlets_info{
        margin-left: 129px;
        width: 50%;
    }
    .step{
        right: 623px;
    }
    .step_2 {
        left: 623px; 
    }
}
  @media (min-width: 961px) and (max-width: 1430px){
    .welcome{
        background-image: url("/img/football_1280.jpg");
    }
    .h_header{
        font-size: 85px;
        margin-left: 10%;
        margin-right: 10%;
    }
    .right{
        text-align: start;
        margin-left: 14%;
    }   
    .athlets_img{
        margin-left: 0;
    } 
    .info {
        margin-right: 0;
        margin-left: 54%;
    }
    .athlets_info{
        margin-left: 4%; 
        width: 43%;
    }
    .absol-image{
        width: 100%;
    }
    .absol-image-basketballer {
        left: -33px;
    }
    .default{
    display: flex;
    }
    .athlets_first{
        display: flex;
    }
    .be-activ-img{
        padding-left: 0;
    }
    .be-activ-content{
        padding: 0 50px 0 100px;
        position: relative;
    }
    .be-activ-info{
        margin-right: 0;
    }
    .contact-content{
        padding-left: 23px;
    }
    .step{
        right: 398px;
    }
    .step_2{
        right: -85px;
    }
}
@media (min-width: 641px) and (max-width: 960px){
    body{
        font-size: 16px;
    }
    .welcome{
        background-image: url("/img/football_1280.jpg");
    }
    .img_header{
        width: 210px;
    }
    .h_header{
        font-size: 64px;
        padding-left: 45px;
    }
    .right{
        text-align: start;
        padding-left: 39px;
        line-height: 1;
    }
    .athlets_img{
        margin-left: auto;
        margin-top: -111px;
    }
    .info{
        margin-right: 45px;
    }
    .title{
        font-size: 32px;
    }
    .athlets_info{
        margin-left: 35px;
    }
    .absol-image-basketballer {
        left: auto;
        right: 0;
    }
    .be-activ-wrapper, .contact-wrapper{
        flex-wrap: wrap;
        height: auto;
    }
    .motivation-inner{
        flex-wrap: wrap;
    }
    .be-activ-img{
        background-image: url(/img/be-active_640.jpg);
        background-size: cover;
        width: 100%;
        height: 702px;
        background-position: center center;
    }
    .be-activ-content{
        padding: 0;
        margin-left: 30px;
        margin-right: 70px;
        position: relative;
    }
    .athlets_title{
        padding: 0;
        margin-top: 95px;
        margin-bottom: 60px;
    }
    .step{
        top: -113px;
        right: 362px
    }
    .step_2{
        top: -113px;
        right: 362px
    }
    .contact-img{
        background-image: url(/img/find-contact_640.jpg);
        background-size: cover;
        width: 100%;
        height: 702px;
        background-position: center center;
    }
    .work-img{
        background-image: url(/img/work-it_640.jpg);
        background-size: cover;
        width: 100%;
        height: 702px;
        background-position: center center;
    }
    .be-activ-info{
        width: 100%;
    }
    .be-activ-info p{
        margin-bottom: 100px;
    }
       .reverce div:nth-child(2){
        order: -1;
    }
   .footer-title{
       display: flex; 
       flex-wrap: wrap;
       padding-top: 125px;
   }
   .description{
       text-align: center;
   }
   .img_footer{
    padding: 0;
   }
   .button{
    justify-content: space-around;
   }
   .btn:last-child{
       margin-left: 0px;
   }
}
@media (max-width: 640px){
    .img_header, .img_footer{
        width: 135px;
        margin-bottom: 140px;
    }
    .h_header{
        font-size: 28px;
        padding-left: 45px;
        margin-bottom: 90px;
    }
    .right{
        text-align: start;
        padding-left: 40px;
        line-height: 1;
    }
    .welcome{
        background-image: url("/img/football_767.jpg");
        width: 100%;
        height: 100%;
    }
    .title{
        font-size: 23px;
        margin-left: 10px;
    }
    .img-wrapper{
        width: 25px;
        height: 25px;
    }
    .button{
        flex-wrap: wrap;
        padding-bottom: 84px;
    }
    .btn:last-child{
         margin-left: 0px;
    }
    .btn{
        height: 35px;
        width: 280px;
    }
    .btn:last-child{
        margin-top: 15px;
    }
    .btn-desc{
        font-size: 8px;
        margin-left: 10px;
    }
    .absol-image, .absol-image-basketballer{
        position: relative;
    }
    .athlets_img{
        margin-top: 0;
    }
    .info{
        margin: 0;
        width: 100%;
    }
    .info h2{
        font-size: 50px;
        margin-top: 35px;
        margin-bottom: 25px;
    }
    .athlets_title{
        font-size: 28px;
        margin-top: 35px;
        margin-bottom: 25px;
        padding: 0;
    }
    .athlets_img{
        margin-left: 75px;
    }
    .absol-image-basketballer{
        left: 0;
        top: 0;
    }
    .players_first{
        margin-bottom: 0; 
        width: 100%;
    }
    .athlets_first{
        margin-bottom: 0; 
    }
    .info_bcg{
        padding-right: 20px;
        padding-left: 20px;
        width: 100%;
        background-color: #fafafa;
        padding-top: 60px;
        padding-bottom: 60px;
        max-width: 280px;
        margin-top: -42px;
    }
    .content, .content-growth p{
        font-size: 15px;
    }
    .athlets_second, .players_second, .be-activ-info, .default, .players_default{
        padding-right: 20px;
        padding-left: 20px;
        width: 100%;
        max-width: 280px;
    }
    .athlets_third, .players_third{
        padding-left: 20px;
        padding-right: 20px;
    }
    .number, .number-third, .number-third-players {
        font-size: 14px;
        margin-bottom: 0px;
        margin-top: 4px;
    }
    .number::after, .number-third::after, .number-third-players::after{
        width: 17px;
    }
    .athlets_info{
        margin-left: 0;
        width: 100%;
    }
    .athlets_info h2{
        font-size: 50px;
        margin-top: 35px;
        margin-bottom: 25px;
    }
    .be-activ-wrapper, .contact-wrapper{
        flex-wrap: wrap;
        height: auto;
    }
    .motivation-inner{
        flex-wrap: wrap;
    }
    .be-activ-img{
        background-image: url(/img/be-active_640.jpg);
        background-size: cover;
        width: 100%;
        max-width: 100%;
        height: 702px;
        background-position: center center;
    }
    .be-activ-content{
        padding: 0;
        position: relative;
    }
    .be-activ-info p {
        font-size: 16px;
        margin-bottom: 80px;
    }
    .step-one{
        width: 70px;
        height: 70px;
    }
    .step-number{
        font-size: 14px;
    }
    .step-number::after{
        width: 15px;
        height: 4px;
    }
    .step{
        top: -65px;
        right: 207px;
    }
    .step_2{
        top: -65px;
        right: 207px;
    }
    .contact-img{
        background-image: url(/img/find-contact_640.jpg);
        background-size: cover;
        width: 100%;
        max-width: 100%;
        height: 702px;
        background-position: center center;
    }
    .work-img{
        background-image: url(/img/work-it_640.jpg);
        background-size: cover;
        width: 100%;
        height: 702px;
        background-position: center center;
    }
    .reverce div:nth-child(2){
        order: -1;
    }
    .footer-svg{
        width: 75px;
        height: 75px;
        margin: 0;
        padding: 11px 11px;
    }
    .footer-svg-title{
        text-align: center;
    }
    .footer-title{
        padding-top: 100px;
        display: block;
    }
    .description{
        text-align: center;
        font-size: 32px;
    }
    .description span:last-child{
            font-size: 14px;
    }
    .img_footer{
            padding-top: 55px;
            margin-bottom: 0;
    }
}